$sour-gummy-font: "Sour Gummy", serif;
$twinkle-star-font: "Twinkle Star", serif;

$basic-font-color: white;

.nav-button {
  font-family: $sour-gummy-font;
  font-size: 30px;
  color: $basic-font-color;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:hover {
    color: $basic-font-color;
    .button-body {
      transform: translateY(-10px);
    }
  }
  img {
    border-radius: 5px;
    width: 100%;
    height: 100px;
    object-fit: cover;
  }
  .button-body {
    position: absolute;
    transition: transform 0.4s ease;
  }
}

.home-info {
  border-radius: 5px;
  background: $color-main;
  height: 100px;
  color: $basic-font-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  .info-header {
    font-family: $twinkle-star-font;
    font-size: 30px;
  }
  .info-text {
    font-family: $sour-gummy-font;
    font-size: 20px;
  }
}

.carousel-item {
  .carousel-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  .gallery-item {
    position: relative;
    width: 100%;
    aspect-ratio : 1 / 1;
    overflow: hidden;
    border-radius: 8px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s ease-in-out;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: 0.3s ease-in-out;
    }
    .icons {
      display: flex;
      gap: 15px;
      i {
        color: white;
        font-size: 24px;
        cursor: pointer;
      }
    }
  }

  .gallery-item:hover .overlay {
    opacity: 0.5;
  }
}
